<form class="title-edit-form">
  <label> Title
    <input type="text" name="post[title]" value="<%= post.get('title') %>">
  </label>
  <br>
  <input type="submit" value="Submit" class='submit-button'>
</form>
