<form class="body-edit-form">
  <label> Body
    <textarea name="post[body]" rows="8" cols="40"><%= post.get('body') %></textarea>
  </label>
  <br>
  <input type="submit" value="Submit" class='submit-button'>
</form>
